.barContainer {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  margin-bottom: 30px;

  .barWrapper {
    width: 90%;
    height: 20px;
    border: 1px solid darkgray;
    border-radius: 5px;

    .progress {
    }
  }
}
