body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  background-color: azure;

  width: 365px;
  height: 618px;
  margin: auto;
  border: 2px solid black;
  border-radius: 48px;
}

.startWrapper {
  width: 150px;
  height: 30px;
  background-color: beige;

  cursor: pointer;

  .startText {
  }
}

.startWrapper:hover {
}
