.resultContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  height: 100%;
  width: 420px;

  .resultWrapper {
    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;

    width: 450px;
    height: 600px;
    border-radius: 15px;
    padding: 25px 0;

    .mainTitle {
      display: flex;
      align-items: center;
      justify-content: center;

      p {
        padding: 10px 40px;
        margin: 0 auto;
        border-radius: 30px;
        background-color: white;
        font-size: 28px;
        font-weight: 700;
      }
    }
    .resultImg {
      width: 350px;
      margin: 30px 0 30px 0;
    }

    .subTitle {
      text-align: center;
      margin: 0 0 30px 0;
      font-size: 18px;
      color: #5b5b5b;

      white-space: pre-line;
    }

    .shareBox {
      display: flex;
      align-items: center;
      justify-content: center;

      .kakaoBtn {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 40px;
        height: 40px;
        background-color: #f7e11d;
        // border-radius: 50%;
      }

      .URL {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 50px;
        height: 50px;

        .UrlImg {
          width: 40px;
          cursor: pointer;
        }
      }

      .restart {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 50px;
        height: 50px;

        .restartImg {
          width: 35px;
        }
      }
    }
  }
}
